In [320]:
import os
import pandas as pd
import numpy as np

In [324]:
os.chdir('C:/Users/sudha.gcupadhaya/Desktop/GO/')
degs = pd.read_csv('Solanum_genename.csv')
annot = pd.read_csv('Potato_gene.goannot.csv')

In [325]:
degs = degs[degs['Comparison'] == '653v111']
selected_degs = degs['Gene_ID'] 
selected_annot = annot[annot['Gene_ID'].isin(selected_degs)]

In [327]:
df_GO = selected_annot[['Gene_ID', 'biological_process', 'molecular_function', 'cellular_component']]
df_GO.columns = ['Gene_ID', 'BP', 'MF', 'CC']

In [329]:
df_GO.shape

(60, 4)

* BP

In [330]:
ID = df_GO['Gene_ID']
BP = df_GO['BP'].str.split('//', 1000, expand = True)
GO_BP = pd.concat([ID, BP], axis =1)

In [331]:
melt_BP= GO_BP.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_BP = melt_BP.drop(['variable'], axis =1)
melt_BP.head()

      Gene_ID          GO
0  Novel00135  GO:0006082
1  Novel01306  GO:0016114
2  Novel01794  GO:0008152
3  Novel02419          --
4  Novel02885  GO:0044699

In [332]:
melt_BP.count()

Gene_ID    6780
GO         1082
dtype: int64

In [333]:
nan_value = float("NaN")
melt_BP['GO'].replace("--", nan_value, inplace=True)
melt_BP.dropna(subset = ["GO"], inplace=True)

In [334]:
df_bp = melt_BP[melt_BP['GO'].astype(bool)]

In [335]:
df_bp.count()

Gene_ID    1070
GO         1070
dtype: int64

* MF

In [336]:
ID = df_GO['Gene_ID']
MF = df_GO['MF'].str.split('//', 1000, expand = True)
GO_MF = pd.concat([ID, MF], axis =1)

In [337]:
melt_MF= GO_MF.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_MF = melt_MF.drop(['variable'], axis =1)
melt_MF.head()

      Gene_ID          GO
0  Novel00135  GO:1901363
1  Novel01306  GO:0043169
2  Novel01794  GO:0003824
3  Novel02419  GO:0016872
4  Novel02885  GO:0003674

In [338]:
melt_MF.count()

Gene_ID    2280
GO          534
dtype: int64

In [339]:
nan_value = float("NaN")
melt_MF['GO'].replace("--", nan_value, inplace=True)
melt_MF.dropna(subset = ["GO"], inplace=True)

In [340]:
df_mf = melt_MF[melt_MF['GO'].astype(bool)]

In [341]:
df_mf.count()

Gene_ID    522
GO         522
dtype: int64

* CC

In [342]:
ID = df_GO['Gene_ID']
CC = df_GO['CC'].str.split('//', 1000, expand = True)
GO_CC = pd.concat([ID, CC], axis =1)

In [343]:
melt_CC= GO_CC.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_CC = melt_CC.drop(['variable'], axis =1)
melt_CC.head()

      Gene_ID  GO
0  Novel00135  --
1  Novel01306  --
2  Novel01794  --
3  Novel02419  --
4  Novel02885  --

In [344]:
melt_CC.count()

Gene_ID    960
GO         223
dtype: int64

In [345]:
nan_value = float("NaN")
melt_CC['GO'].replace("--", nan_value, inplace=True)
melt_CC.dropna(subset = ["GO"], inplace=True)

In [346]:
df_cc = melt_CC[melt_CC['GO'].astype(bool)]

In [347]:
df_cc.count()

Gene_ID    191
GO         191
dtype: int64

* Combine all three process

In [348]:
annot_all = pd.concat([df_bp, df_mf, df_cc])

In [349]:
annot_all.shape

(1783, 2)

In [350]:
annot_all.to_csv('annot_list_potato.csv')