#### Potato

In [1]:
import os
import pandas as pd
import numpy as np

In [6]:
os.chdir('C:/Users/sudha.gcupadhaya/Desktop/GO_Enrichment_Analysis/potato/')
degs = pd.read_csv('Solanum_genename.csv')
annot = pd.read_csv('Potato_gene.goannot.csv')

In [7]:
degs = degs[degs['Comparison'] == '653v111']
selected_degs = degs['Gene_ID'] 
selected_annot = annot[annot['Gene_ID'].isin(selected_degs)]

In [8]:
df_GO = selected_annot[['Gene_ID', 'biological_process', 'molecular_function', 'cellular_component']]
df_GO.columns = ['Gene_ID', 'BP', 'MF', 'CC']

In [9]:
df_GO.shape

(60, 4)

* BP

In [330]:
ID = df_GO['Gene_ID']
BP = df_GO['BP'].str.split('//', 1000, expand = True)
GO_BP = pd.concat([ID, BP], axis =1)

In [331]:
melt_BP= GO_BP.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_BP = melt_BP.drop(['variable'], axis =1)
melt_BP.head()

      Gene_ID          GO
0  Novel00135  GO:0006082
1  Novel01306  GO:0016114
2  Novel01794  GO:0008152
3  Novel02419          --
4  Novel02885  GO:0044699

In [332]:
melt_BP.count()

Gene_ID    6780
GO         1082
dtype: int64

In [333]:
nan_value = float("NaN")
melt_BP['GO'].replace("--", nan_value, inplace=True)
melt_BP.dropna(subset = ["GO"], inplace=True)

In [334]:
df_bp = melt_BP[melt_BP['GO'].astype(bool)]

In [335]:
df_bp.count()

Gene_ID    1070
GO         1070
dtype: int64

* MF

In [336]:
ID = df_GO['Gene_ID']
MF = df_GO['MF'].str.split('//', 1000, expand = True)
GO_MF = pd.concat([ID, MF], axis =1)

In [337]:
melt_MF= GO_MF.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_MF = melt_MF.drop(['variable'], axis =1)
melt_MF.head()

      Gene_ID          GO
0  Novel00135  GO:1901363
1  Novel01306  GO:0043169
2  Novel01794  GO:0003824
3  Novel02419  GO:0016872
4  Novel02885  GO:0003674

In [338]:
melt_MF.count()

Gene_ID    2280
GO          534
dtype: int64

In [339]:
nan_value = float("NaN")
melt_MF['GO'].replace("--", nan_value, inplace=True)
melt_MF.dropna(subset = ["GO"], inplace=True)

In [340]:
df_mf = melt_MF[melt_MF['GO'].astype(bool)]

In [341]:
df_mf.count()

Gene_ID    522
GO         522
dtype: int64

* CC

In [342]:
ID = df_GO['Gene_ID']
CC = df_GO['CC'].str.split('//', 1000, expand = True)
GO_CC = pd.concat([ID, CC], axis =1)

In [343]:
melt_CC= GO_CC.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_CC = melt_CC.drop(['variable'], axis =1)
melt_CC.head()

      Gene_ID  GO
0  Novel00135  --
1  Novel01306  --
2  Novel01794  --
3  Novel02419  --
4  Novel02885  --

In [344]:
melt_CC.count()

Gene_ID    960
GO         223
dtype: int64

In [345]:
nan_value = float("NaN")
melt_CC['GO'].replace("--", nan_value, inplace=True)
melt_CC.dropna(subset = ["GO"], inplace=True)

In [346]:
df_cc = melt_CC[melt_CC['GO'].astype(bool)]

In [347]:
df_cc.count()

Gene_ID    191
GO         191
dtype: int64

* Combine all three process

In [348]:
annot_all = pd.concat([df_bp, df_mf, df_cc])

In [349]:
annot_all.shape

(1783, 2)

In [350]:
annot_all.to_csv('annot_list_potato.csv')

#### Mustard

In [10]:
import os
import pandas as pd
import numpy as np

In [11]:
os.chdir('C:/Users/sudha.gcupadhaya/Desktop/GO_Enrichment_Analysis/mustard/')
degs = pd.read_csv('Brassica_genename.csv')
annot = pd.read_csv('Brassica_Annotation_GO.csv')

In [16]:
selected_annot

,Gene ID,Gene Ontology Biological Pathway,BP Description,Gene Ontology Molecular Function,MF Description,Gene Ontology Cellular Component,CC Description
3893,Cluster-15354.101048,--,--,GO:0016773,"phosphotransferase activity, alcohol group as ...",--,--
5095,Cluster-15354.102982,GO:0006810,transport,GO:0005524//GO:0004386//GO:0016887//GO:0003676,ATP binding//helicase activity//ATPase activit...,--,--
8835,Cluster-15354.108826,--,--,GO:0005515,protein binding,--,--
13004,Cluster-15354.115916,GO:0008152//GO:0006629//GO:0006355//GO:0009058,metabolic process//lipid metabolic process//re...,GO:0016787//GO:0016788//GO:0000287//GO:0030976...,"hydrolase activity//hydrolase activity, acting...",--,--
13192,Cluster-15354.11627,--,--,GO:0003924//GO:0016887//GO:0005524//GO:0005525,GTPase activity//ATPase activity//ATP binding/...,GO:0016020,membrane
...,...,...,...,...,...,...,...
109468,Cluster-48422.1,GO:0016567,protein ubiquitination,GO:0005515//GO:0061630//GO:0004842//GO:0008270...,protein binding//ubiquitin protein ligase acti...,GO:0005680,anaphase-promoting complex
110939,Cluster-50294.0,GO:0045893//GO:0030154//GO:0030238//GO:0006357...,"positive regulation of transcription, DNA-temp...",GO:0005516//GO:0003705//GO:0008134//GO:0003677,calmodulin binding//transcription factor activ...,GO:0005737//GO:0005667//GO:0016607,cytoplasm//transcription factor complex//nucle...
115315,Cluster-5840.0,GO:0007283,spermatogenesis,GO:0003677,DNA binding,GO:0005634//GO:0000786,nucleus//nucleosome
115965,Cluster-6811.0,GO:0006355//GO:0006810//GO:0009405,"regulation of transcription, DNA-templated//tr...",GO:0003677//GO:0008200//GO:0004190//GO:0003700,DNA binding//ion channel inhibitor activity//a...,GO:0016021//GO:0005667//GO:0005576,integral component of membrane//transcription ...
116471,Cluster-7594.0,GO:0055085,transmembrane transport,GO:0022857,transmembrane transporter activity,GO:0016021,integral component of membrane

In [15]:
degs = degs[degs['Comparison'] == '653v111']
selected_degs = degs['Gene_ID'] 
selected_annot = annot[annot['Gene ID'].isin(selected_degs)]

In [17]:
df_GO = selected_annot[['Gene ID', 'Gene Ontology Biological Pathway', 'Gene Ontology Molecular Function', 'Gene Ontology Cellular Component']]
df_GO.columns = ['Gene_ID', 'BP', 'MF', 'CC']

In [18]:
df_GO.shape

(66, 4)

* BP

In [19]:
ID = df_GO['Gene_ID']
BP = df_GO['BP'].str.split('//', 1000, expand = True)
GO_BP = pd.concat([ID, BP], axis =1)

In [20]:
melt_BP= GO_BP.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_BP = melt_BP.drop(['variable'], axis =1)
melt_BP.head()

                Gene_ID          GO
0  Cluster-15354.101048          --
1  Cluster-15354.102982  GO:0006810
2  Cluster-15354.108826          --
3  Cluster-15354.115916  GO:0008152
4   Cluster-15354.11627          --

In [21]:
melt_BP.count()

Gene_ID    396
GO         143
dtype: int64

In [22]:
nan_value = float("NaN")
melt_BP['GO'].replace("--", nan_value, inplace=True)
melt_BP.dropna(subset = ["GO"], inplace=True)

In [23]:
df_bp = melt_BP[melt_BP['GO'].astype(bool)]

In [24]:
df_bp.count()

Gene_ID    131
GO         131
dtype: int64

* MF

In [25]:
ID = df_GO['Gene_ID']
MF = df_GO['MF'].str.split('//', 1000, expand = True)
GO_MF = pd.concat([ID, MF], axis =1)

In [26]:
melt_MF= GO_MF.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_MF = melt_MF.drop(['variable'], axis =1)
melt_MF.head()

                Gene_ID          GO
0  Cluster-15354.101048  GO:0016773
1  Cluster-15354.102982  GO:0005524
2  Cluster-15354.108826  GO:0005515
3  Cluster-15354.115916  GO:0016787
4   Cluster-15354.11627  GO:0003924

In [27]:
melt_MF.count()

Gene_ID    462
GO         156
dtype: int64

In [28]:
nan_value = float("NaN")
melt_MF['GO'].replace("--", nan_value, inplace=True)
melt_MF.dropna(subset = ["GO"], inplace=True)

In [29]:
df_mf = melt_MF[melt_MF['GO'].astype(bool)]

In [30]:
df_mf.count()

Gene_ID    150
GO         150
dtype: int64

* CC

In [31]:
ID = df_GO['Gene_ID']
CC = df_GO['CC'].str.split('//', 1000, expand = True)
GO_CC = pd.concat([ID, CC], axis =1)

In [32]:
melt_CC= GO_CC.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_CC = melt_CC.drop(['variable'], axis =1)
melt_CC.head()

                Gene_ID          GO
0  Cluster-15354.101048          --
1  Cluster-15354.102982          --
2  Cluster-15354.108826          --
3  Cluster-15354.115916          --
4   Cluster-15354.11627  GO:0016020

In [33]:
melt_CC.count()

Gene_ID    198
GO          87
dtype: int64

In [34]:
nan_value = float("NaN")
melt_CC['GO'].replace("--", nan_value, inplace=True)
melt_CC.dropna(subset = ["GO"], inplace=True)

In [35]:
df_cc = melt_CC[melt_CC['GO'].astype(bool)]

In [36]:
df_cc.count()

Gene_ID    65
GO         65
dtype: int64

* Combine all three process

In [37]:
annot_all = pd.concat([df_bp, df_mf, df_cc])

In [38]:
annot_all.shape

(346, 2)

In [39]:
annot_all.to_csv('annot_list_mustard.csv')

#### Mint

In [41]:
import os
import pandas as pd
import numpy as np

In [43]:
os.chdir('C:/Users/sudha.gcupadhaya/Desktop/GO_Enrichment_Analysis/mint/')
degs = pd.read_csv('Mentha_ganename.csv')
annot = pd.read_csv('Mentha_Annotation_GO.csv')

In [46]:
degs = degs[degs['Comparison'] == '653v111']
selected_degs = degs['Gene_ID'] 
selected_annot = annot[annot['Gene ID'].isin(selected_degs)]

In [47]:
df_GO = selected_annot[['Gene ID', 'Gene Ontology Biological Pathway', 'Gene Ontology Molecular Function', 'Gene Ontology Cellular Component']]
df_GO.columns = ['Gene_ID', 'BP', 'MF', 'CC']

In [48]:
df_GO.shape

(71, 4)

* BP

In [49]:
ID = df_GO['Gene_ID']
BP = df_GO['BP'].str.split('//', 1000, expand = True)
GO_BP = pd.concat([ID, BP], axis =1)

In [50]:
melt_BP= GO_BP.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_BP = melt_BP.drop(['variable'], axis =1)
melt_BP.head()

                Gene_ID          GO
0  Cluster-67248.100189  GO:0006568
1  Cluster-67248.100665          --
2  Cluster-67248.101001  GO:0015947
3  Cluster-67248.101576  GO:0006144
4  Cluster-67248.102077  GO:0008654

In [51]:
melt_BP.count()

Gene_ID    710
GO         148
dtype: int64

In [52]:
nan_value = float("NaN")
melt_BP['GO'].replace("--", nan_value, inplace=True)
melt_BP.dropna(subset = ["GO"], inplace=True)

In [53]:
df_bp = melt_BP[melt_BP['GO'].astype(bool)]

In [54]:
df_bp.count()

Gene_ID    132
GO         132
dtype: int64

* MF

In [55]:
ID = df_GO['Gene_ID']
MF = df_GO['MF'].str.split('//', 1000, expand = True)
GO_MF = pd.concat([ID, MF], axis =1)

In [56]:
melt_MF= GO_MF.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_MF = melt_MF.drop(['variable'], axis =1)
melt_MF.head()

                Gene_ID          GO
0  Cluster-67248.100189  GO:0045735
1  Cluster-67248.100665  GO:0005515
2  Cluster-67248.101001  GO:0020037
3  Cluster-67248.101576  GO:0004114
4  Cluster-67248.102077  GO:0004512

In [57]:
melt_MF.count()

Gene_ID    852
GO         164
dtype: int64

In [58]:
nan_value = float("NaN")
melt_MF['GO'].replace("--", nan_value, inplace=True)
melt_MF.dropna(subset = ["GO"], inplace=True)

In [59]:
df_mf = melt_MF[melt_MF['GO'].astype(bool)]

In [60]:
df_mf.count()

Gene_ID    155
GO         155
dtype: int64

* CC

In [61]:
ID = df_GO['Gene_ID']
CC = df_GO['CC'].str.split('//', 1000, expand = True)
GO_CC = pd.concat([ID, CC], axis =1)

In [62]:
melt_CC= GO_CC.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_CC = melt_CC.drop(['variable'], axis =1)
melt_CC.head()

                Gene_ID          GO
0  Cluster-67248.100189          --
1  Cluster-67248.100665          --
2  Cluster-67248.101001          --
3  Cluster-67248.101576          --
4  Cluster-67248.102077  GO:0005737

In [63]:
melt_CC.count()

Gene_ID    213
GO          84
dtype: int64

In [64]:
nan_value = float("NaN")
melt_CC['GO'].replace("--", nan_value, inplace=True)
melt_CC.dropna(subset = ["GO"], inplace=True)

In [65]:
df_cc = melt_CC[melt_CC['GO'].astype(bool)]

In [66]:
df_cc.count()

Gene_ID    39
GO         39
dtype: int64

* Combine all three process

In [67]:
annot_all = pd.concat([df_bp, df_mf, df_cc])

In [68]:
annot_all.shape

(326, 2)

In [69]:
annot_all.to_csv('annot_list_mint_653v111.csv')

#### Veticillium dahliae

In [41]:
import os
import pandas as pd
import numpy as np

In [87]:
os.chdir('C:/Users/sudha.gcupadhaya/Desktop/GO_Enrichment_Analysis/Vd/')
degs = pd.read_csv('Fungal_genename.csv')
annot = pd.read_csv('Vd_gene.goannot.csv')

In [88]:
selected_degs = degs['Gene_ID']
selected_annot = annot[annot['Gene_ID'].isin(selected_degs)]

In [89]:
df_GO = selected_annot[['Gene_ID', 'biological_process', 'molecular_function', 'cellular_component']]
df_GO.columns = ['Gene_ID', 'BP', 'MF', 'CC']

In [90]:
df_GO.shape

(28, 4)

* BP

In [91]:
ID = df_GO['Gene_ID']
BP = df_GO['BP'].str.split('//', 1000, expand = True)
GO_BP = pd.concat([ID, BP], axis =1)

In [92]:
melt_BP= GO_BP.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_BP = melt_BP.drop(['variable'], axis =1)
melt_BP.head()

      Gene_ID          GO
0  mRNA_10037  GO:0008150
1  mRNA_10198  GO:1901135
2  mRNA_10347  GO:0008152
3   mRNA_1128  GO:0044699
4   mRNA_1402  GO:0006542

In [93]:
melt_BP.count()

Gene_ID    2520
GO          538
dtype: int64

In [94]:
nan_value = float("NaN")
melt_BP['GO'].replace("--", nan_value, inplace=True)
melt_BP.dropna(subset = ["GO"], inplace=True)

In [95]:
df_bp = melt_BP[melt_BP['GO'].astype(bool)]

In [96]:
df_bp.count()

Gene_ID    535
GO         535
dtype: int64

* MF

In [97]:
ID = df_GO['Gene_ID']
MF = df_GO['MF'].str.split('//', 1000, expand = True)
GO_MF = pd.concat([ID, MF], axis =1)

In [98]:
melt_MF= GO_MF.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_MF = melt_MF.drop(['variable'], axis =1)
melt_MF.head()

      Gene_ID          GO
0  mRNA_10037          --
1  mRNA_10198  GO:0008233
2  mRNA_10347  GO:0003824
3   mRNA_1128  GO:0097159
4   mRNA_1402  GO:0016211

In [99]:
melt_MF.count()

Gene_ID    1400
GO          336
dtype: int64

In [100]:
nan_value = float("NaN")
melt_MF['GO'].replace("--", nan_value, inplace=True)
melt_MF.dropna(subset = ["GO"], inplace=True)

In [101]:
df_mf = melt_MF[melt_MF['GO'].astype(bool)]

In [102]:
df_mf.count()

Gene_ID    333
GO         333
dtype: int64

* CC

In [103]:
ID = df_GO['Gene_ID']
CC = df_GO['CC'].str.split('//', 1000, expand = True)
GO_CC = pd.concat([ID, CC], axis =1)

In [104]:
melt_CC= GO_CC.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_CC = melt_CC.drop(['variable'], axis =1)
melt_CC.head()

      Gene_ID          GO
0  mRNA_10037          --
1  mRNA_10198  GO:0005576
2  mRNA_10347          --
3   mRNA_1128  GO:0031224
4   mRNA_1402          --

In [105]:
melt_CC.count()

Gene_ID    896
GO          92
dtype: int64

In [106]:
nan_value = float("NaN")
melt_CC['GO'].replace("--", nan_value, inplace=True)
melt_CC.dropna(subset = ["GO"], inplace=True)

In [107]:
df_cc = melt_CC[melt_CC['GO'].astype(bool)]

In [108]:
df_cc.count()

Gene_ID    74
GO         74
dtype: int64

* Combine all three process

In [109]:
annot_all = pd.concat([df_bp, df_mf, df_cc])

In [110]:
annot_all.shape

(942, 2)

In [111]:
annot_all.to_csv('annot_list_Vd_all.csv')