#### Potato

In [ ]:
import os
import pandas as pd
import numpy as np

In [ ]:
os.chdir('C:/Users/sudha.gcupadhaya/Desktop/RNA-seq/Validation project/GO_Enrichment_Analysis/potato/')
degs = pd.read_csv('Solanum_genename.csv')
annot = pd.read_csv('Potato_gene.goannot.csv')

In [ ]:
selected_annot = annot[annot['Gene_ID'].isin(degs['Gene_ID'])]

In [ ]:
df_GO = selected_annot[['Gene_ID', 'biological_process', 'molecular_function', 'cellular_component']]
df_GO.columns = ['Gene_ID', 'BP', 'MF', 'CC']

In [ ]:
df_GO.shape

* BP

In [ ]:
ID = df_GO['Gene_ID']
BP = df_GO['BP'].str.split('//', 1000, expand = True)
GO_BP = pd.concat([ID, BP], axis =1)

In [ ]:
melt_BP= GO_BP.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_BP = melt_BP.drop(['variable'], axis =1)
melt_BP.head()

In [ ]:
melt_BP.count()

In [ ]:
nan_value = float("NaN")
melt_BP['GO'].replace("--", nan_value, inplace=True)
melt_BP.dropna(subset = ["GO"], inplace=True)

In [ ]:
df_bp = melt_BP[melt_BP['GO'].astype(bool)]

In [49]:
df_bp.count()

Gene_ID    29199
GO         29199
dtype: int64

* MF

In [50]:
ID = df_GO['Gene_ID']
MF = df_GO['MF'].str.split('//', 1000, expand = True)
GO_MF = pd.concat([ID, MF], axis =1)

In [51]:
melt_MF= GO_MF.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_MF = melt_MF.drop(['variable'], axis =1)
melt_MF.head()

      Gene_ID          GO
0  Novel00009  GO:0003674
1  Novel00021  GO:0005515
2  Novel00023  GO:0030554
3  Novel00024  GO:0030554
4  Novel00044  GO:0003674

In [52]:
melt_MF.count()

Gene_ID    87669
GO         15364
dtype: int64

In [53]:
nan_value = float("NaN")
melt_MF['GO'].replace("--", nan_value, inplace=True)
melt_MF.dropna(subset = ["GO"], inplace=True)

In [54]:
df_mf = melt_MF[melt_MF['GO'].astype(bool)]

In [55]:
df_mf.count()

Gene_ID    15088
GO         15088
dtype: int64

* CC

In [56]:
ID = df_GO['Gene_ID']
CC = df_GO['CC'].str.split('//', 1000, expand = True)
GO_CC = pd.concat([ID, CC], axis =1)

In [57]:
melt_CC= GO_CC.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_CC = melt_CC.drop(['variable'], axis =1)
melt_CC.head()

      Gene_ID          GO
0  Novel00009  GO:0000813
1  Novel00021          --
2  Novel00023  GO:0005575
3  Novel00024          --
4  Novel00044  GO:0016020

In [58]:
melt_CC.count()

Gene_ID    79074
GO         11702
dtype: int64

In [59]:
nan_value = float("NaN")
melt_CC['GO'].replace("--", nan_value, inplace=True)
melt_CC.dropna(subset = ["GO"], inplace=True)

In [60]:
df_cc = melt_CC[melt_CC['GO'].astype(bool)]

In [61]:
df_cc.count()

Gene_ID    10964
GO         10964
dtype: int64

* Combine all three process

In [62]:
annot_all = pd.concat([df_bp, df_mf, df_cc])

In [63]:
annot_all.shape

(55251, 2)

In [64]:
#annot_all.to_csv('annot_list_potato.csv')

#### Mustard

In [70]:
os.chdir('C:/Users/sudha.gcupadhaya/Desktop/RNA-seq/Validation project/GO_Enrichment_Analysis/mustard/')
degs = pd.read_csv('Brassica_genename.csv')
annot = pd.read_csv('Brassica_Annotation_GO.csv')

In [71]:
selected_annot = annot[annot['Gene ID'].isin(degs['Gene_ID'])]

In [72]:
df_GO = selected_annot[['Gene ID', 'Gene Ontology Biological Pathway', 'Gene Ontology Molecular Function', 'Gene Ontology Cellular Component']]
df_GO.columns = ['Gene_ID', 'BP', 'MF', 'CC']

In [73]:
df_GO.shape

(1480, 4)

* BP

In [74]:
ID = df_GO['Gene_ID']
BP = df_GO['BP'].str.split('//', 1000, expand = True)
GO_BP = pd.concat([ID, BP], axis =1)

In [75]:
melt_BP= GO_BP.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_BP = melt_BP.drop(['variable'], axis =1)
melt_BP.head()

                Gene_ID          GO
0       Cluster-13954.7  GO:0016042
1       Cluster-14528.1  GO:0008152
2  Cluster-15354.100020  GO:0009733
3  Cluster-15354.100214  GO:0006955
4  Cluster-15354.100306  GO:0006355

In [76]:
melt_BP.count()

Gene_ID    38480
GO          3221
dtype: int64

In [77]:
nan_value = float("NaN")
melt_BP['GO'].replace("--", nan_value, inplace=True)
melt_BP.dropna(subset = ["GO"], inplace=True)

In [78]:
df_bp = melt_BP[melt_BP['GO'].astype(bool)]

In [79]:
df_bp.count()

Gene_ID    2902
GO         2902
dtype: int64

* MF

In [80]:
ID = df_GO['Gene_ID']
MF = df_GO['MF'].str.split('//', 1000, expand = True)
GO_MF = pd.concat([ID, MF], axis =1)

In [81]:
melt_MF= GO_MF.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_MF = melt_MF.drop(['variable'], axis =1)
melt_MF.head()

                Gene_ID          GO
0       Cluster-13954.7  GO:0003924
1       Cluster-14528.1  GO:0003824
2  Cluster-15354.100020  GO:0005515
3  Cluster-15354.100214  GO:0005125
4  Cluster-15354.100306  GO:0003779

In [82]:
melt_MF.count()

Gene_ID    20720
GO          3120
dtype: int64

In [83]:
nan_value = float("NaN")
melt_MF['GO'].replace("--", nan_value, inplace=True)
melt_MF.dropna(subset = ["GO"], inplace=True)

In [84]:
df_mf = melt_MF[melt_MF['GO'].astype(bool)]

In [85]:
df_mf.count()

Gene_ID    2945
GO         2945
dtype: int64

* CC

In [86]:
ID = df_GO['Gene_ID']
CC = df_GO['CC'].str.split('//', 1000, expand = True)
GO_CC = pd.concat([ID, CC], axis =1)

In [87]:
melt_CC= GO_CC.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_CC = melt_CC.drop(['variable'], axis =1)
melt_CC.head()

                Gene_ID          GO
0       Cluster-13954.7  GO:0005576
1       Cluster-14528.1  GO:0005886
2  Cluster-15354.100020          --
3  Cluster-15354.100214  GO:0005576
4  Cluster-15354.100306  GO:0005667

In [88]:
melt_CC.count()

Gene_ID    19240
GO          1969
dtype: int64

In [89]:
nan_value = float("NaN")
melt_CC['GO'].replace("--", nan_value, inplace=True)
melt_CC.dropna(subset = ["GO"], inplace=True)

In [90]:
df_cc = melt_CC[melt_CC['GO'].astype(bool)]

In [91]:
df_cc.count()

Gene_ID    1162
GO         1162
dtype: int64

* Combine all three process

In [92]:
annot_all = pd.concat([df_bp, df_mf, df_cc])

In [93]:
annot_all.shape

(7009, 2)

In [94]:
#annot_all.to_csv('annot_list_mustard.csv')

#### Mint

In [100]:
os.chdir('C:/Users/sudha.gcupadhaya/Desktop/RNA-seq/Validation project/GO_Enrichment_Analysis/mint/')
degs = pd.read_csv('Mentha_ganename.csv')
annot = pd.read_csv('Mentha_Annotation_GO.csv')

In [101]:
selected_annot = annot[annot['Gene ID'].isin(degs['Gene_ID'])]

In [102]:
df_GO = selected_annot[['Gene ID', 'Gene Ontology Biological Pathway', 'Gene Ontology Molecular Function', 'Gene Ontology Cellular Component']]
df_GO.columns = ['Gene_ID', 'BP', 'MF', 'CC']

In [103]:
df_GO.shape

(1195, 4)

* BP

In [104]:
ID = df_GO['Gene_ID']
BP = df_GO['BP'].str.split('//', 1000, expand = True)
GO_BP = pd.concat([ID, BP], axis =1)

In [105]:
melt_BP= GO_BP.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_BP = melt_BP.drop(['variable'], axis =1)
melt_BP.head()

           Gene_ID          GO
0  Cluster-12724.0  GO:0006730
1  Cluster-21872.0  GO:0006979
2  Cluster-21903.0  GO:0008033
3  Cluster-24414.0  GO:0042254
4  Cluster-24764.0  GO:0009877

In [106]:
melt_BP.count()

Gene_ID    21510
GO          2602
dtype: int64

In [107]:
nan_value = float("NaN")
melt_BP['GO'].replace("--", nan_value, inplace=True)
melt_BP.dropna(subset = ["GO"], inplace=True)

In [108]:
df_bp = melt_BP[melt_BP['GO'].astype(bool)]

In [109]:
df_bp.count()

Gene_ID    2379
GO         2379
dtype: int64

* MF

In [110]:
ID = df_GO['Gene_ID']
MF = df_GO['MF'].str.split('//', 1000, expand = True)
GO_MF = pd.concat([ID, MF], axis =1)

In [111]:
melt_MF= GO_MF.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_MF = melt_MF.drop(['variable'], axis =1)
melt_MF.head()

           Gene_ID          GO
0  Cluster-12724.0  GO:0004089
1  Cluster-21872.0  GO:0004096
2  Cluster-21903.0  GO:0071949
3  Cluster-24414.0  GO:0003735
4  Cluster-24764.0          --

In [112]:
melt_MF.count()

Gene_ID    14340
GO          2734
dtype: int64

In [113]:
nan_value = float("NaN")
melt_MF['GO'].replace("--", nan_value, inplace=True)
melt_MF.dropna(subset = ["GO"], inplace=True)

In [114]:
df_mf = melt_MF[melt_MF['GO'].astype(bool)]

In [115]:
df_mf.count()

Gene_ID    2633
GO         2633
dtype: int64

* CC

In [116]:
ID = df_GO['Gene_ID']
CC = df_GO['CC'].str.split('//', 1000, expand = True)
GO_CC = pd.concat([ID, CC], axis =1)

In [117]:
melt_CC= GO_CC.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_CC = melt_CC.drop(['variable'], axis =1)
melt_CC.head()

           Gene_ID          GO
0  Cluster-12724.0          --
1  Cluster-21872.0          --
2  Cluster-21903.0  GO:0005730
3  Cluster-24414.0  GO:0005622
4  Cluster-24764.0          --

In [118]:
melt_CC.count()

Gene_ID    10755
GO          1506
dtype: int64

In [119]:
nan_value = float("NaN")
melt_CC['GO'].replace("--", nan_value, inplace=True)
melt_CC.dropna(subset = ["GO"], inplace=True)

In [120]:
df_cc = melt_CC[melt_CC['GO'].astype(bool)]

In [121]:
df_cc.count()

Gene_ID    866
GO         866
dtype: int64

* Combine all three process

In [122]:
annot_all = pd.concat([df_bp, df_mf, df_cc])

In [123]:
annot_all.shape

(5878, 2)

In [124]:
#annot_all.to_csv('annot_list_mint.csv')

#### Veticillium dahliae

In [127]:
os.chdir('C:/Users/sudha.gcupadhaya/Desktop/RNA-seq/Validation project/GO_Enrichment_Analysis/Vd/')
degs = pd.read_csv('Fungal_genename.csv')
annot = pd.read_csv('Vd_gene.goannot.csv')

In [128]:
selected_annot = annot[annot['Gene_ID'].isin(degs['Gene_ID'])]

In [129]:
df_GO = selected_annot[['Gene_ID', 'biological_process', 'molecular_function', 'cellular_component']]
df_GO.columns = ['Gene_ID', 'BP', 'MF', 'CC']

In [130]:
df_GO.shape

(28, 4)

* BP

In [131]:
ID = df_GO['Gene_ID']
BP = df_GO['BP'].str.split('//', 1000, expand = True)
GO_BP = pd.concat([ID, BP], axis =1)

In [132]:
melt_BP= GO_BP.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_BP = melt_BP.drop(['variable'], axis =1)
melt_BP.head()

      Gene_ID          GO
0  mRNA_10037  GO:0008150
1  mRNA_10198  GO:1901135
2  mRNA_10347  GO:0008152
3   mRNA_1128  GO:0044699
4   mRNA_1402  GO:0006542

In [133]:
melt_BP.count()

Gene_ID    2520
GO          538
dtype: int64

In [134]:
nan_value = float("NaN")
melt_BP['GO'].replace("--", nan_value, inplace=True)
melt_BP.dropna(subset = ["GO"], inplace=True)

In [135]:
df_bp = melt_BP[melt_BP['GO'].astype(bool)]

In [136]:
df_bp.count()

Gene_ID    535
GO         535
dtype: int64

* MF

In [137]:
ID = df_GO['Gene_ID']
MF = df_GO['MF'].str.split('//', 1000, expand = True)
GO_MF = pd.concat([ID, MF], axis =1)

In [138]:
melt_MF= GO_MF.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_MF = melt_MF.drop(['variable'], axis =1)
melt_MF.head()

      Gene_ID          GO
0  mRNA_10037          --
1  mRNA_10198  GO:0008233
2  mRNA_10347  GO:0003824
3   mRNA_1128  GO:0097159
4   mRNA_1402  GO:0016211

In [139]:
melt_MF.count()

Gene_ID    1400
GO          336
dtype: int64

In [140]:
nan_value = float("NaN")
melt_MF['GO'].replace("--", nan_value, inplace=True)
melt_MF.dropna(subset = ["GO"], inplace=True)

In [141]:
df_mf = melt_MF[melt_MF['GO'].astype(bool)]

In [142]:
df_mf.count()

Gene_ID    333
GO         333
dtype: int64

* CC

In [143]:
ID = df_GO['Gene_ID']
CC = df_GO['CC'].str.split('//', 1000, expand = True)
GO_CC = pd.concat([ID, CC], axis =1)

In [144]:
melt_CC= GO_CC.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_CC = melt_CC.drop(['variable'], axis =1)
melt_CC.head()

      Gene_ID          GO
0  mRNA_10037          --
1  mRNA_10198  GO:0005576
2  mRNA_10347          --
3   mRNA_1128  GO:0031224
4   mRNA_1402          --

In [145]:
melt_CC.count()

Gene_ID    896
GO          92
dtype: int64

In [146]:
nan_value = float("NaN")
melt_CC['GO'].replace("--", nan_value, inplace=True)
melt_CC.dropna(subset = ["GO"], inplace=True)

In [147]:
df_cc = melt_CC[melt_CC['GO'].astype(bool)]

In [148]:
df_cc.count()

Gene_ID    74
GO         74
dtype: int64

* Combine all three process

In [152]:
annot_all = pd.concat([df_bp, df_mf, df_cc])

In [153]:
annot_all.shape

(942, 2)

In [154]:
annot_all.to_csv('annot_list_Vd_all.csv')