### *Verticillium dahliae*

In [22]:
import os
import pandas as pd
import numpy as np

In [23]:
os.chdir('C:/Users/sudha.gcupadhaya/Desktop/RNA-seq/GO_Enrichment_Analysis/Vd/')
degs = pd.read_csv('Fungal_genename.csv')
annot = pd.read_csv('Vd_gene.goannot.csv')

In [24]:
selected_annot = annot[annot['Gene_ID'].isin(degs['Gene_ID'])]
selected_annot.columns

Index(['Gene_ID', 'biological_process', 'biological_process_description',
       'cellular_component', 'cellular_component_description',
       'molecular_function', 'molecular_function_description'],
      dtype='object')

In [25]:
df_GO = selected_annot[['Gene_ID', 'biological_process_description', 'molecular_function_description', 'cellular_component_description']]
df_GO.columns = ['Gene_ID', 'BP', 'MF', 'CC']
df_GO.shape

(28, 4)

* BP

In [26]:
ID = df_GO['Gene_ID']
BP = df_GO['BP'].str.split('//', 1000, expand = True)
GO_BP = pd.concat([ID, BP], axis =1)

In [27]:
melt_BP= GO_BP.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_BP = melt_BP.drop(['variable'], axis =1)
print(melt_BP.count())
melt_BP.head()

Gene_ID    2520
GO          538
dtype: int64

      Gene_ID                                         GO
0  mRNA_10037                         biological_process
1  mRNA_10198  carbohydrate derivative metabolic process
2  mRNA_10347                          metabolic process
3   mRNA_1128                    single-organism process
4   mRNA_1402             glutamine biosynthetic process

In [28]:
nan_value = float("NaN")
melt_BP['GO'].replace("--", nan_value, inplace=True)
melt_BP.dropna(subset = ["GO"], inplace=True)
df_bp = melt_BP[melt_BP['GO'].astype(bool)]
df_bp.count()

Gene_ID    535
GO         535
dtype: int64

In [29]:
count = df_bp.groupby(['GO']).size().reset_index(name = 'count')
count_bp = count.sort_values(by = 'count', ascending = False)
count_bp['term_type'] = 'P'
count_bp.head()

                                    GO  count term_type
11                  biological_process     25         P
65                   metabolic process     21         P
127            single-organism process     19         P
126  single-organism metabolic process     16         P
35                    cellular process     12         P

* MF

In [30]:
ID = df_GO['Gene_ID']
MF = df_GO['MF'].str.split('//', 1000, expand = True)
GO_MF = pd.concat([ID, MF], axis =1)

In [31]:
melt_MF= GO_MF.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_MF = melt_MF.drop(['variable'], axis =1)
print(melt_MF.count())
melt_MF.head()

Gene_ID    1400
GO          336
dtype: int64

      Gene_ID                               GO
0  mRNA_10037                               --
1  mRNA_10198               peptidase activity
2  mRNA_10347               catalytic activity
3   mRNA_1128  organic cyclic compound binding
4   mRNA_1402          ammonia ligase activity

In [32]:
nan_value = float("NaN")
melt_MF['GO'].replace("--", nan_value, inplace=True)
melt_MF.dropna(subset = ["GO"], inplace=True)
df_mf = melt_MF[melt_MF['GO'].astype(bool)]
df_mf.count()

Gene_ID    333
GO         333
dtype: int64

In [33]:
count = df_mf.groupby(['GO']).size().reset_index(name = 'count')
count_mf = count.sort_values(by = 'count', ascending = False)
count_mf['term_type'] = 'F'
count_mf.head()

                         GO  count term_type
60       molecular_function     25         F
28       catalytic activity     20         F
24                  binding     16         F
70  oxidoreductase activity     11         F
50              ion binding     10         F

* CC

In [34]:
ID = df_GO['Gene_ID']
CC = df_GO['CC'].str.split('//', 1000, expand = True)
GO_CC = pd.concat([ID, CC], axis =1)

In [35]:
melt_CC= GO_CC.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_CC = melt_CC.drop(['variable'], axis =1)
print(melt_CC.count())
melt_CC.head()

Gene_ID    896
GO          92
dtype: int64

      Gene_ID                               GO
0  mRNA_10037                               --
1  mRNA_10198             extracellular region
2  mRNA_10347                               --
3   mRNA_1128  intrinsic component of membrane
4   mRNA_1402                               --

In [36]:
nan_value = float("NaN")
melt_CC['GO'].replace("--", nan_value, inplace=True)
melt_CC.dropna(subset = ["GO"], inplace=True)
df_cc = melt_CC[melt_CC['GO'].astype(bool)]
df_cc.count()

Gene_ID    74
GO         74
dtype: int64

In [37]:
count = df_cc.groupby(['GO']).size().reset_index(name = 'count')
count_cc = count.sort_values(by = 'count', ascending = False)
count_cc['term_type'] = 'C'
count_cc.head()

                                 GO  count term_type
7                cellular_component     10         C
18                         membrane      6         C
19                    membrane part      5         C
16  intrinsic component of membrane      5         C
9    integral component of membrane      5         C

* Combine all three process

In [38]:
annot_all = pd.concat([count_bp, count_mf, count_cc])
print(annot_all.shape)
#annot_all.to_csv('GOTerms_Vd_all.csv')

(302, 3)

In [39]:
annot_all

                                                    GO  count term_type
11                                  biological_process     25         P
65                                   metabolic process     21         P
127                            single-organism process     19         P
126                  single-organism metabolic process     16         P
35                                    cellular process     12         P
..                                                 ...    ...       ...
13                       intracellular organelle lumen      1         C
4                                    catalytic complex      1         C
3                               RNA polymerase complex      1         C
2       RNA polymerase II transcription factor complex      1         C
36   transferase complex, transferring phosphorus-c...      1         C

[302 rows x 3 columns]

### Graveyard

In [ ]:
degs = degs[degs['Comparison'] == '653v111']
selected_degs = degs['Gene_ID'] 
selected_annot = annot[annot['Gene_ID'].isin(selected_degs)]