#### Potato

In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.chdir('C:/Users/sudha.gcupadhaya/Desktop/RNA-seq/Validation project/GO_Enrichment_Analysis/potato/')
degs = pd.read_csv('Solanum_genename.csv')
annot = pd.read_csv('Potato_gene.goannot.csv')

In [23]:
selected_annot = annot[annot['Gene_ID'].isin(degs['Gene_ID'])]
selected_annot.head(3)

,Gene_ID,biological_process,biological_process_description,cellular_component,cellular_component_description,molecular_function,molecular_function_description
4,Novel00009,GO:1902578//GO:0044765//GO:0016197//GO:0008150...,single-organism localization//single-organism ...,GO:0000813//GO:0043234//GO:0098588//GO:0043226...,ESCRT I complex//protein complex//bounding mem...,GO:0003674//GO:0005488//GO:0032182//GO:0005515...,molecular_function//binding//ubiquitin-like pr...
8,Novel00021,--,--,--,--,GO:0005515//GO:0003674//GO:0005488,protein binding//molecular_function//binding
9,Novel00023,GO:0006811//GO:0051234//GO:0006810//GO:0051179...,ion transport//establishment of localization//...,GO:0005575//GO:0016020,cellular_component//membrane,GO:0030554//GO:0001883//GO:0022857//GO:0022891...,adenyl nucleotide binding//purine nucleoside b...

In [24]:
df_GO = selected_annot[['Gene_ID', 'biological_process_description', 'molecular_function_description', 'cellular_component_description']]
df_GO.columns = ['Gene_ID', 'BP', 'MF', 'CC']

In [25]:
df_GO.shape

(1719, 4)

* BP

In [26]:
ID = df_GO['Gene_ID']
BP = df_GO['BP'].str.split('//', 1000, expand = True)
GO_BP = pd.concat([ID, BP], axis =1)

In [27]:
melt_BP= GO_BP.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_BP = melt_BP.drop(['variable'], axis =1)
melt_BP.head()

      Gene_ID                            GO
0  Novel00009  single-organism localization
1  Novel00021                            --
2  Novel00023                 ion transport
3  Novel00024         biological regulation
4  Novel00044             protein transport

In [28]:
melt_BP.count()

Gene_ID    460692
GO          29687
dtype: int64

In [29]:
nan_value = float("NaN")
melt_BP['GO'].replace("--", nan_value, inplace=True)
melt_BP.dropna(subset = ["GO"], inplace=True)

In [30]:
df_bp = melt_BP[melt_BP['GO'].astype(bool)]

In [31]:
df_bp.count()

Gene_ID    29199
GO         29199
dtype: int64

In [42]:
a = df_bp.groupby(['GO']).size().reset_index(name = 'G')
a
b = a.sort_values(by = 'G', ascending = False)

                                                     GO  G
0     1-aminocyclopropane-1-carboxylate biosynthetic...  1
1     1-aminocyclopropane-1-carboxylate metabolic pr...  1
2                                 ADP metabolic process  4
3                                         ADP transport  1
4                              ATP biosynthetic process  2
...                                                 ... ..
1755            water-soluble vitamin metabolic process  1
1756                           wax biosynthetic process  1
1757                              wax metabolic process  1
1758                                  xylem development  1
1759                     xylem-to-phloem iron transport  1

[1760 rows x 2 columns]

* MF

In [336]:
ID = df_GO['Gene_ID']
MF = df_GO['MF'].str.split('//', 1000, expand = True)
GO_MF = pd.concat([ID, MF], axis =1)

In [337]:
melt_MF= GO_MF.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_MF = melt_MF.drop(['variable'], axis =1)
melt_MF.head()

      Gene_ID          GO
0  Novel00135  GO:1901363
1  Novel01306  GO:0043169
2  Novel01794  GO:0003824
3  Novel02419  GO:0016872
4  Novel02885  GO:0003674

In [338]:
melt_MF.count()

Gene_ID    2280
GO          534
dtype: int64

In [339]:
nan_value = float("NaN")
melt_MF['GO'].replace("--", nan_value, inplace=True)
melt_MF.dropna(subset = ["GO"], inplace=True)

In [340]:
df_mf = melt_MF[melt_MF['GO'].astype(bool)]

In [341]:
df_mf.count()

Gene_ID    522
GO         522
dtype: int64

* CC

In [342]:
ID = df_GO['Gene_ID']
CC = df_GO['CC'].str.split('//', 1000, expand = True)
GO_CC = pd.concat([ID, CC], axis =1)

In [343]:
melt_CC= GO_CC.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_CC = melt_CC.drop(['variable'], axis =1)
melt_CC.head()

      Gene_ID  GO
0  Novel00135  --
1  Novel01306  --
2  Novel01794  --
3  Novel02419  --
4  Novel02885  --

In [344]:
melt_CC.count()

Gene_ID    960
GO         223
dtype: int64

In [345]:
nan_value = float("NaN")
melt_CC['GO'].replace("--", nan_value, inplace=True)
melt_CC.dropna(subset = ["GO"], inplace=True)

In [346]:
df_cc = melt_CC[melt_CC['GO'].astype(bool)]

In [347]:
df_cc.count()

Gene_ID    191
GO         191
dtype: int64

* Combine all three process

In [348]:
annot_all = pd.concat([df_bp, df_mf, df_cc])

In [349]:
annot_all.shape

(1783, 2)

In [350]:
annot_all.to_csv('annot_list_potato.csv')

#### Mustard

In [10]:
import os
import pandas as pd
import numpy as np

In [51]:
os.chdir('C:/Users/sudha.gcupadhaya/Desktop/RNA-seq/Validation project/GO_Enrichment_Analysis/mustard/')
degs = pd.read_csv('Brassica_genename.csv')
annot = pd.read_csv('Brassica_Annotation_GO.csv')

In [16]:
selected_annot

,Gene ID,Gene Ontology Biological Pathway,BP Description,Gene Ontology Molecular Function,MF Description,Gene Ontology Cellular Component,CC Description
3893,Cluster-15354.101048,--,--,GO:0016773,"phosphotransferase activity, alcohol group as ...",--,--
5095,Cluster-15354.102982,GO:0006810,transport,GO:0005524//GO:0004386//GO:0016887//GO:0003676,ATP binding//helicase activity//ATPase activit...,--,--
8835,Cluster-15354.108826,--,--,GO:0005515,protein binding,--,--
13004,Cluster-15354.115916,GO:0008152//GO:0006629//GO:0006355//GO:0009058,metabolic process//lipid metabolic process//re...,GO:0016787//GO:0016788//GO:0000287//GO:0030976...,"hydrolase activity//hydrolase activity, acting...",--,--
13192,Cluster-15354.11627,--,--,GO:0003924//GO:0016887//GO:0005524//GO:0005525,GTPase activity//ATPase activity//ATP binding/...,GO:0016020,membrane
...,...,...,...,...,...,...,...
109468,Cluster-48422.1,GO:0016567,protein ubiquitination,GO:0005515//GO:0061630//GO:0004842//GO:0008270...,protein binding//ubiquitin protein ligase acti...,GO:0005680,anaphase-promoting complex
110939,Cluster-50294.0,GO:0045893//GO:0030154//GO:0030238//GO:0006357...,"positive regulation of transcription, DNA-temp...",GO:0005516//GO:0003705//GO:0008134//GO:0003677,calmodulin binding//transcription factor activ...,GO:0005737//GO:0005667//GO:0016607,cytoplasm//transcription factor complex//nucle...
115315,Cluster-5840.0,GO:0007283,spermatogenesis,GO:0003677,DNA binding,GO:0005634//GO:0000786,nucleus//nucleosome
115965,Cluster-6811.0,GO:0006355//GO:0006810//GO:0009405,"regulation of transcription, DNA-templated//tr...",GO:0003677//GO:0008200//GO:0004190//GO:0003700,DNA binding//ion channel inhibitor activity//a...,GO:0016021//GO:0005667//GO:0005576,integral component of membrane//transcription ...
116471,Cluster-7594.0,GO:0055085,transmembrane transport,GO:0022857,transmembrane transporter activity,GO:0016021,integral component of membrane

In [15]:
degs = degs[degs['Comparison'] == '653v111']
selected_degs = degs['Gene_ID'] 
selected_annot = annot[annot['Gene ID'].isin(selected_degs)]

In [17]:
df_GO = selected_annot[['Gene ID', 'Gene Ontology Biological Pathway', 'Gene Ontology Molecular Function', 'Gene Ontology Cellular Component']]
df_GO.columns = ['Gene_ID', 'BP', 'MF', 'CC']

In [18]:
df_GO.shape

(66, 4)

* BP

In [19]:
ID = df_GO['Gene_ID']
BP = df_GO['BP'].str.split('//', 1000, expand = True)
GO_BP = pd.concat([ID, BP], axis =1)

In [20]:
melt_BP= GO_BP.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_BP = melt_BP.drop(['variable'], axis =1)
melt_BP.head()

                Gene_ID          GO
0  Cluster-15354.101048          --
1  Cluster-15354.102982  GO:0006810
2  Cluster-15354.108826          --
3  Cluster-15354.115916  GO:0008152
4   Cluster-15354.11627          --

In [21]:
melt_BP.count()

Gene_ID    396
GO         143
dtype: int64

In [22]:
nan_value = float("NaN")
melt_BP['GO'].replace("--", nan_value, inplace=True)
melt_BP.dropna(subset = ["GO"], inplace=True)

In [23]:
df_bp = melt_BP[melt_BP['GO'].astype(bool)]

In [24]:
df_bp.count()

Gene_ID    131
GO         131
dtype: int64

* MF

In [25]:
ID = df_GO['Gene_ID']
MF = df_GO['MF'].str.split('//', 1000, expand = True)
GO_MF = pd.concat([ID, MF], axis =1)

In [26]:
melt_MF= GO_MF.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_MF = melt_MF.drop(['variable'], axis =1)
melt_MF.head()

                Gene_ID          GO
0  Cluster-15354.101048  GO:0016773
1  Cluster-15354.102982  GO:0005524
2  Cluster-15354.108826  GO:0005515
3  Cluster-15354.115916  GO:0016787
4   Cluster-15354.11627  GO:0003924

In [27]:
melt_MF.count()

Gene_ID    462
GO         156
dtype: int64

In [28]:
nan_value = float("NaN")
melt_MF['GO'].replace("--", nan_value, inplace=True)
melt_MF.dropna(subset = ["GO"], inplace=True)

In [29]:
df_mf = melt_MF[melt_MF['GO'].astype(bool)]

In [30]:
df_mf.count()

Gene_ID    150
GO         150
dtype: int64

* CC

In [31]:
ID = df_GO['Gene_ID']
CC = df_GO['CC'].str.split('//', 1000, expand = True)
GO_CC = pd.concat([ID, CC], axis =1)

In [32]:
melt_CC= GO_CC.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_CC = melt_CC.drop(['variable'], axis =1)
melt_CC.head()

                Gene_ID          GO
0  Cluster-15354.101048          --
1  Cluster-15354.102982          --
2  Cluster-15354.108826          --
3  Cluster-15354.115916          --
4   Cluster-15354.11627  GO:0016020

In [33]:
melt_CC.count()

Gene_ID    198
GO          87
dtype: int64

In [34]:
nan_value = float("NaN")
melt_CC['GO'].replace("--", nan_value, inplace=True)
melt_CC.dropna(subset = ["GO"], inplace=True)

In [35]:
df_cc = melt_CC[melt_CC['GO'].astype(bool)]

In [36]:
df_cc.count()

Gene_ID    65
GO         65
dtype: int64

* Combine all three process

In [37]:
annot_all = pd.concat([df_bp, df_mf, df_cc])

In [38]:
annot_all.shape

(346, 2)

In [39]:
annot_all.to_csv('annot_list_mustard.csv')

#### Mint

In [46]:
import os
import pandas as pd
import numpy as np

In [49]:
os.chdir('C:/Users/sudha.gcupadhaya/Desktop/RNA-seq/Validation project/GO_Enrichment_Analysis/mint/')
degs = pd.read_csv('Mentha_ganename.csv')
annot = pd.read_csv('Mentha_Annotation_GO.csv')

In [50]:
selected_annot = annot[annot['Gene ID'].isin(degs['Gene_ID'])]

In [51]:
selected_annot.columns

Index(['Gene ID', 'Gene Ontology Biological Pathway', 'BP Description',
       'Gene Ontology Molecular Function', 'MF Description',
       'Gene Ontology Cellular Component', 'CC Description'],
      dtype='object')

In [52]:
df_GO = selected_annot[['Gene ID', 'BP Description', 'MF Description', 'CC Description']]
df_GO.columns = ['Gene_ID', 'BP', 'MF', 'CC']

In [53]:
df_GO.shape

(1195, 4)

* BP

In [54]:
ID = df_GO['Gene_ID']
BP = df_GO['BP'].str.split('//', 1000, expand = True)
GO_BP = pd.concat([ID, BP], axis =1)

In [55]:
melt_BP= GO_BP.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_BP = melt_BP.drop(['variable'], axis =1)
melt_BP.head()

           Gene_ID                            GO
0  Cluster-12724.0  one-carbon metabolic process
1  Cluster-21872.0  response to oxidative stress
2  Cluster-21903.0               tRNA processing
3  Cluster-24414.0           ribosome biogenesis
4  Cluster-24764.0                    nodulation

In [59]:
melt_BP.count()

Gene_ID    2379
GO         2379
dtype: int64

In [60]:
melt_BP['GO'].replace("--", float('NaN'), inplace=True)
melt_BP.dropna(subset = ["GO"], inplace=True)

In [61]:
df_bp = melt_BP[melt_BP['GO'].astype(bool)]

In [63]:
df_bp.shape

(2379, 2)

* MF

In [64]:
ID = df_GO['Gene_ID']
MF = df_GO['MF'].str.split('//', 1000, expand = True)
GO_MF = pd.concat([ID, MF], axis =1)

In [65]:
melt_MF= GO_MF.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_MF = melt_MF.drop(['variable'], axis =1)
melt_MF.head()

           Gene_ID                                  GO
0  Cluster-12724.0      carbonate dehydratase activity
1  Cluster-21872.0                   catalase activity
2  Cluster-21903.0                         FAD binding
3  Cluster-24414.0  structural constituent of ribosome
4  Cluster-24764.0                                  --

In [66]:
melt_MF.count()

Gene_ID    14340
GO          2734
dtype: int64

In [69]:
melt_MF['GO'].replace("--", float("NaN"), inplace=True)
melt_MF.dropna(subset = ["GO"], inplace=True)

In [70]:
df_mf = melt_MF[melt_MF['GO'].astype(bool)]

In [71]:
df_mf.count()

Gene_ID    2633
GO         2633
dtype: int64

* CC

In [61]:
ID = df_GO['Gene_ID']
CC = df_GO['CC'].str.split('//', 1000, expand = True)
GO_CC = pd.concat([ID, CC], axis =1)

In [62]:
melt_CC= GO_CC.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_CC = melt_CC.drop(['variable'], axis =1)
melt_CC.head()

                Gene_ID          GO
0  Cluster-67248.100189          --
1  Cluster-67248.100665          --
2  Cluster-67248.101001          --
3  Cluster-67248.101576          --
4  Cluster-67248.102077  GO:0005737

In [63]:
melt_CC.count()

Gene_ID    213
GO          84
dtype: int64

In [64]:
nan_value = float("NaN")
melt_CC['GO'].replace("--", nan_value, inplace=True)
melt_CC.dropna(subset = ["GO"], inplace=True)

In [65]:
df_cc = melt_CC[melt_CC['GO'].astype(bool)]

In [66]:
df_cc.count()

Gene_ID    39
GO         39
dtype: int64

* Combine all three process

In [67]:
annot_all = pd.concat([df_bp, df_mf, df_cc])

In [68]:
annot_all.shape

(326, 2)

In [69]:
annot_all.to_csv('annot_list_mint_653v111.csv')

#### Veticillium dahliae

In [72]:
import os
import pandas as pd
import numpy as np

In [73]:
os.chdir('C:/Users/sudha.gcupadhaya/Desktop/RNA-seq/Validation project/GO_Enrichment_Analysis/Vd/')
degs = pd.read_csv('Fungal_genename.csv')
annot = pd.read_csv('Vd_gene.goannot.csv')

In [74]:
selected_annot = annot[annot['Gene_ID'].isin(degs['Gene_ID'])]

In [75]:
selected_annot.columns

Index(['Gene_ID', 'biological_process', 'biological_process_description',
       'cellular_component', 'cellular_component_description',
       'molecular_function', 'molecular_function_description'],
      dtype='object')

In [76]:
df_GO = selected_annot[['Gene_ID', 'biological_process_description', 'molecular_function_description', 'cellular_component_description']]
df_GO.columns = ['Gene_ID', 'BP', 'MF', 'CC']

In [77]:
df_GO.shape

(28, 4)

* BP

In [78]:
ID = df_GO['Gene_ID']
BP = df_GO['BP'].str.split('//', 1000, expand = True)
GO_BP = pd.concat([ID, BP], axis =1)

In [79]:
melt_BP= GO_BP.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_BP = melt_BP.drop(['variable'], axis =1)
melt_BP.head()

      Gene_ID                                         GO
0  mRNA_10037                         biological_process
1  mRNA_10198  carbohydrate derivative metabolic process
2  mRNA_10347                          metabolic process
3   mRNA_1128                    single-organism process
4   mRNA_1402             glutamine biosynthetic process

In [80]:
melt_BP.count()

Gene_ID    2520
GO          538
dtype: int64

In [81]:
nan_value = float("NaN")
melt_BP['GO'].replace("--", nan_value, inplace=True)
melt_BP.dropna(subset = ["GO"], inplace=True)

In [82]:
df_bp = melt_BP[melt_BP['GO'].astype(bool)]

In [83]:
df_bp.count()

Gene_ID    535
GO         535
dtype: int64

In [85]:
count = df_bp.groupby(['GO']).size().reset_index(name = 'count')
count_bp = count.sort_values(by = 'count', ascending = False)
count_bp['term_type'] = 'P'
count_bp.head(10)

                                               GO  count
11                             biological_process     25
65                              metabolic process     21
127                       single-organism process     19
126             single-organism metabolic process     16
35                               cellular process     12
86            organic substance metabolic process     11
89                    oxidation-reduction process     11
30                     cellular metabolic process     11
72            nitrogen compound metabolic process     10
24   cellular aromatic compound metabolic process     10

In [86]:
count_bp['term_type'] = 'P'

* MF

In [88]:
ID = df_GO['Gene_ID']
MF = df_GO['MF'].str.split('//', 1000, expand = True)
GO_MF = pd.concat([ID, MF], axis =1)

In [89]:
melt_MF= GO_MF.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_MF = melt_MF.drop(['variable'], axis =1)
melt_MF.head()

      Gene_ID                               GO
0  mRNA_10037                               --
1  mRNA_10198               peptidase activity
2  mRNA_10347               catalytic activity
3   mRNA_1128  organic cyclic compound binding
4   mRNA_1402          ammonia ligase activity

In [90]:
melt_MF.count()

Gene_ID    1400
GO          336
dtype: int64

In [91]:
nan_value = float("NaN")
melt_MF['GO'].replace("--", nan_value, inplace=True)
melt_MF.dropna(subset = ["GO"], inplace=True)

In [92]:
df_mf = melt_MF[melt_MF['GO'].astype(bool)]

In [93]:
df_mf.count()

Gene_ID    333
GO         333
dtype: int64

In [94]:
count = df_mf.groupby(['GO']).size().reset_index(name = 'count')
count_mf = count.sort_values(by = 'count', ascending = False)
count_mf['term_type'] = 'F'
count_mf.head(20)

                                                    GO  count term_type
60                                  molecular_function     25         F
28                                  catalytic activity     20         F
24                                             binding     16         F
70                             oxidoreductase activity     11         F
50                                         ion binding     10         F
42                       heterocyclic compound binding     10         F
69                     organic cyclic compound binding     10         F
68                                  nucleotide binding      9         F
66                        nucleoside phosphate binding      9         F
102                             small molecule binding      9         F
23                                       anion binding      8         F
32                                    cofactor binding      7         F
31                                    coenzyme binding      7         F
37                 flavin adenine dinucleotide binding      5         F
44                                  hydrolase activity      5         F
112                               transporter activity      4         F
111                 transmembrane transporter activity      4         F
45       hydrolase activity, acting on acid anhydrides      3         F
46   hydrolase activity, acting on acid anhydrides,...      3         F
91                       purine ribonucleoside binding      3         F

* CC

In [95]:
ID = df_GO['Gene_ID']
CC = df_GO['CC'].str.split('//', 1000, expand = True)
GO_CC = pd.concat([ID, CC], axis =1)

In [96]:
melt_CC= GO_CC.melt(id_vars = ['Gene_ID'], value_name = 'GO')
melt_CC = melt_CC.drop(['variable'], axis =1)
melt_CC.head()

      Gene_ID                               GO
0  mRNA_10037                               --
1  mRNA_10198             extracellular region
2  mRNA_10347                               --
3   mRNA_1128  intrinsic component of membrane
4   mRNA_1402                               --

In [97]:
melt_CC.count()

Gene_ID    896
GO          92
dtype: int64

In [98]:
nan_value = float("NaN")
melt_CC['GO'].replace("--", nan_value, inplace=True)
melt_CC.dropna(subset = ["GO"], inplace=True)

In [99]:
df_cc = melt_CC[melt_CC['GO'].astype(bool)]

In [100]:
df_cc.count()

Gene_ID    74
GO         74
dtype: int64

* Combine all three process

In [101]:
count = df_cc.groupby(['GO']).size().reset_index(name = 'count')
count_cc = count.sort_values(by = 'count', ascending = False)
count_cc['term_type'] = 'C'
count_cc.head()

                                 GO  count term_type
7                cellular_component     10         C
18                         membrane      6         C
19                    membrane part      5         C
16  intrinsic component of membrane      5         C
9    integral component of membrane      5         C

In [102]:
annot_all = pd.concat([count_bp, count_mf, count_cc])

In [103]:
annot_all.shape

(302, 3)

In [104]:
annot_all.to_csv('GOTerms_Vd_all.csv')

### Graveyard

In [ ]:
degs = degs[degs['Comparison'] == '653v111']
selected_degs = degs['Gene_ID'] 
selected_annot = annot[annot['Gene_ID'].isin(selected_degs)]